body{
    margin: 0;
    padding: 0;
    font-family:montserrat ;
    background-color:#b7dbe4e7;
    height: 100vh;
}

.formulario{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 400px;
    background-color: rgb(235, 243, 243);
    border-radius: 10px;

}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;

}

.formulario form{
    padding: 0 40px; 
    box-sizing: border-box;

}

form .username{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 0 ;

}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute ;
    top: 50%;
    left: 5px;
    color: rgb(182, 165, 165);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}





.username span::before{
  content: '';
 position: absolute;
 top: 40px;
 left: 0;
 width: 100%;
 height: 2px;
 background-color: blue;

}

.username input:focus ~ label,
.username input:valid ~ label{
    top: -5px;
    color: #6C3483;
    transition: top 0.3s ease, color 0.3s ease;
}


.recordar{
    margin: -5px 0 20px  5px;
    color: blue;
    cursor: pointer;

}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background-color: blue;
    border-radius: 25px;
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: rgb(108, 108, 240);
    transition: 5s;
}

.Registrarse{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: black;
}

.Registrarse a{
    color: blue;
    text-decoration: none;
  }

  .Registrarse a:hover{
    text-decoration: underline;
  }

   
  


